<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656279484263-objm40u9ak12epjg311h5424fo5eulnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656279484263-objm40u9ak12epjg311h5424fo5eulnd</string>
	<key>API_KEY</key>
	<string>AIzaSyAKXrnqA68cv2ins4ieKHriON77dogB_SE</string>
	<key>GCM_SENDER_ID</key>
	<string>656279484263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movie</string>
	<key>PROJECT_ID</key>
	<string>movieapp-fbaf9</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-fbaf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656279484263:ios:7a9c0000011e93570b61c2</string>
</dict>
</plist>